    .landing-page__title {
        #title, #title-var-1 {
            font-weight: 200;
            font-size: 4em;
            margin: .5em 0 0;
            letter-spacing: .2em;
            cursor: pointer;
            padding-top: '0em';
        }

        #title-var-1 {
            padding-top: 2em;
        }

        h2 {
            font-size: 1.3em;
            margin: 0 0 2em;
            letter-spacing: .2em;
        }
    }
